<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form>
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN">
        <input type="text" id="IIN"><input type="text" id="IIN">


    </form>
</head>
<body>
<h1>Index page by Damir</h1>
</body>
</html>